# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv/
env/
venv/

# Logs and cache
*.log
data/logs/
*.csv

# Model weights
*.pt
*.pth

# Videos and images
data/output_videos/
data/sample_videos/
data/MOT17-04/mot17-04.mp4

# Docker
*.pid
*.tar
*.bak
*.swp

# VS Code
.vscode/
.idea/

# Streamlit cache (if added later)
.streamlit/
